/* marketList */
.marketList{
    width: 100%;
}

/* listButtons */
.listButtons{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* inactiveButton */
.inactiveButton{
    font-size: 18px;
    width: 35px;
    height: 35px;
    border: 1px solid white;
}

.inactiveButton:hover{
    border: 1px solid black;
}

/* activeButton */
.activeButton{
    font-size: 18px;
    width: 35px;
    height: 35px;
    background-color: gray;
    border: 1px solid black;
}