/* title */
.title{
    display: flex;
    margin-bottom: 30px;
}
/* space */
.space{
    margin-left: 30px;
}

/* reasonsWrapper */
.reasonsWrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
}

/* reasonsLeft */
.reasonsLeft{
    grid-column: 3/4;
}

/* reasonsImage */
.reasonsImage{
    padding: 20px;
}