/* title */
.title{
    text-align: center;
}

/* reasonsWrapper */
.reasonsWrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;

}

/* reasonsLeft */
.reasonsLeft{
    grid-column: 3/4;
}