/* joinUs */
.joinUs{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.joinUs > p{
    margin-top: 15px;
}

/* joinDiscord */
.joinDiscord{
    width: 200px;
    height: 50px;
    border-radius: 40px;
    color: white;
    background-color: black;
    margin-top: 75px;
}

/* social */
.social{
    position: absolute;
    bottom: 5px;
}