/* joinUs */
.joinUs{
    --animation-start: 30%;
    --animation-finish: 40%;
    position: relative;
}

.joinUs > p{
    margin-top: 15px;
}

/* header */
.header{
    display: flex;
    align-items: center;
}

.header img{
    width: 50px;
    height: 50px;
}

/* title */
.title{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px;
}

/* joinDiscord */
.joinDiscord{
    width: 200px;
    height: 50px;
    border-radius: 40px;
    color: white;
    background-image: linear-gradient(25deg, var(--primary-color), var(--secondary-color));
    margin-top: 75px;
}

/* social */
.social{
    position: absolute;
    display: flex;
    gap: 10px;
    bottom: 5px;
}

.social a{
    width: 50px;
    height: 50px;
    color: #ffffff;
}

/* imageContainer */
@keyframes float{
    0% {top: var(--animation-start);}
    50% {top: var(--animation-finish);}
    100% { top: var(--animation-start); }
}

.imageContainer{
    position: relative;
    width: 50px;
    height: 100%;
}

.imageContainer img{
    position: absolute;
    top: var(--animation-start);
    animation-name: float;
    animation-duration: 4.5s;
    animation-iteration-count: infinite;
}

/* bitcoin */
.bitcoin{
    transform: rotate(-14deg);
}

