/* divisions */
.divisions{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    margin-top: 25px;
    background-image: linear-gradient(to right, var(--primary-color), var(--secondary-color));
    border-bottom: 1px solid black;
}

/* firstButton */
.firstButton button{
    display: flex;
    justify-content: flex-end;
}
/* divisionButton */

.divisionButton{
    display: flex;
    justify-content: flex-end;
}
