/* reason */
.reason{
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
}

/* image */
.image{
    --wrapper-size: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: var(--wrapper-size);
    min-height: var(--wrapper-size);
    max-width: var(--wrapper-size);
    max-height: var(--wrapper-size);
    background-color: black;
    border-radius: 10px;
}

.image img{
    width: 70%;
    height: 70%;
}
/* filter-white */
.filterWhite{
    filter: invert(100%) sepia(12%) saturate(627%) hue-rotate(180deg) brightness(117%) contrast(100%);
}

/* reasonText */
.reasonText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
    margin-left: 5px;
}

.reasonText h3,p{
    margin-top: 0;
    margin-bottom: 5px;
}
