/* coin */
.coin{
    width: 200px;
}   

/* coinImage */
.coinImage{
    height: 25%;
}


/* coinText */
.coinText{
    text-align: center;
}

.coinText > h3 {
    margin-top: 0;
}

/* coinName */
.coinName{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    padding: 0 5px;
}