/* coinImage */
.coinImage{
    height: 128px;
}


/* coinText */
.coinText{
    text-align: center;
}

.coinText > h3 {
    margin-top: 0;
}

/* coinName */
.coinName{
    display: flex;
    flex-direction: row;
    gap: 10px;
}