/* navBar */
.navBar{
    display: flex;
    justify-content: center;
    height: 50px;
}

/* navWrapper */
.navWrapper{
    display: flex;
    justify-content: space-between;
    width: 1000px;
}

.navWrapper img{
    width: 100%;
    max-width: 100%;
    max-height: 100%;
}

.navWrapper a{
    width: auto;
}

/* navButtons */
.navButtons button{
    font-size: 18px;
    margin-right: 10px;
}