/* navBar */
.navBar{
    position: sticky;
    display: flex;
    justify-content: center;
    top: 0;
    height: 50px;
    padding: 5px 0;
    z-index: 1;
}

/* navWrapper */
.navWrapper{
    display: flex;
    justify-content: space-between;
    width: 1000px;
    max-height: 100%;
    margin: auto;
}

.navWrapper img{
    width: 100%;
    max-width: 100%;
    max-height: 100%;
}

/* navButtons */
.navButtons{
    display: flex;
}

.navButtons button{
    margin-right: 10px;
}

/* navSocial */
.navSocial{
    display: flex;
    align-items: center;
    gap: 10px;
}

/* socialIcon */
.socialIcon{
    width: 35px;
    height: 35px;
}