/* navBar */
.navBar{
    display: flex;
    justify-content: center;
}

/* navWrapper */
.navWrapper{
    display: flex;
    justify-content: space-between;
    width: 1000px;
}

/* navButtons */
.navButtons button{
    font-size: 18px;
    margin-right: 10px;
}