/* marketElement */
.marketElement{
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    height: 85px;
    padding: 0 10px;
    border-bottom: 1px solid black;
}

.marketElement h4{
    display: flex;
    justify-content: flex-end;
}

.marketElement h4:first-child{
    justify-content: flex-start;
}

/* coinName */
.coinName{
    display: flex;
    align-items: center;
    gap: 10px;

}

/* coinImage */
.coinImage{
    display: flex;
    justify-content: center;

    min-width: 50px;
    min-height: 50px;
    max-width: 50px;
    max-height: 50px;
}