/* division */
.division{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    max-width: 200px;
    border: 1px solid white;
}

.division:hover{
    border: 1px solid black;
    border-radius: 30px;
}

.division h3{
    margin: 0;
}

/* coinCase */
.coinCase{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    border: 1px solid white;
}

.coinCase:hover{
    border: 1px solid black;  
    border-radius: 30px;
}

.coinCase h3{
    margin: 0;
}

/* arrow */
.arrow{
    margin: 0 5px;
    width: 15px;
    height: 15px;
}
