/* division */
.division{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 200px;
}

.division h3{
    margin: 0;
}

/* arrow */
.arrow{
    width: 15px;
    height: 15px;
}
