/* division */
.division{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 200px;
}

.division h3{
    margin: 0;
}

/* coinCase */
.coinCase{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    width: 200px;
}

.coinCase h3{
    margin: 0;
}
/* arrow */
.arrow{
    margin: 0 5px;
    width: 15px;
    height: 15px;
}
