/* center */
.center{
    margin:auto;
    width: 1000px;
    height: 100%;
}

/* mainTitle */
.mainTitle{
    font-size: 90px;
    margin-bottom: 0;
}

/* coloredTitle */
.coloredTitle{
    font-size: 90px;
    margin-top: 0;
    margin-bottom: 0;
    background-size: 100%;
    background-image: linear-gradient(to bottom right,var(--primary-color), var(--secondary-color));
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
}

/* red */
.red{
    color: red;
}
/* green */
.green{
    color: green;
}

/* white-filter */
.white-filter{
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(125deg) brightness(103%) contrast(103%);
}