/* center */
.center{
    margin:auto;
    width: 1000px;
    height: 100%;
}

/* mainTitle */
.mainTitle{
    font-size: 90px;
    margin-bottom: 0;
}

/* coloredTitle */
.coloredTitle{
    font-size: 90px;
    margin-top: 0;
    margin-bottom: 0;
}